@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using WebGUI.Models;
    @model List<Booking>;
}
<div id="tableview">
    <table>

        @foreach(var data in Model)
        {
            <tr>
                <td>@data.Id</td>
                <td>@data.FirstName</td>
                <td>@data.LastName</td>
                <td>@data.CentreId</td>
                <td>@data.StartDate</td>
                <td>@data.FinishDate</td>
                <td>@data.EventName</td>
            </tr>
        }
    </table>
</div>

<div id="studentForm" class="admin">
    
    <form>
      <input type="text" id="Id" name="Id" placeholder="ID" />
      <input type="text" id="CName" name="CName" placeholder="Centre Name" />
    </form>
    <button id="insert" onclick="insertCentre()">Insert</button>
</div>

<div id="studentForm" class="admin">
    
    <form>
      <input type="text" id="FirstName" name="FirstName" placeholder="First Name" required  />
      <input type="text" id="LastName" name="LastName" placeholder="Last Name" required  />
      <input type="text" id="CentreID" name="CentreID" placeholder="CentreID" required  />
      <label for="StartDate">Start Date: </label>
      <input type="date" id="StartDate" name="StartDate" required  />
      <label for="FinishDate">Finish Date: </label>
      <input type="date" id="FinishDate" name="FinishDate" required  />
      <input type="text" id="EventName" name="EventName" placeholder="Event Name" />
    </form>
    <button id="insert" onclick="addBooking()">Add</button>
</div>
<script>
    setText();
    function insertCentre()
    {
        $.ajax({
            type: 'POST',
            url: '/home/insertcentre/',
            contentType: 'application/json',
            data: JSON.stringify(
            {
                "Id": $('#Id').val(),
                "CentreName": $("#CName").val()
            }),
            success: function(data, textStatus, jQxhr)
            {
                alert("Data Inserted");
            },
            error: function(xhr, textStatus, error)
            {
                alert("Error");
                console.log(xhr.statusText);
                console.log(textStatus);
                console.log(error);
            }
        });
    }

    function addBooking()
    {
        var index;
        index = 0;
        $.ajax({
            type: 'POST',
            url: '/home/insertbooking/',
            contentType: 'application/json',
            data: JSON.stringify(
            {
                "Id": index,
                "FirstName": $('#FirstName').val(),
                "LastName": $('#LastName').val(),
                "CentreID": $('#CentreID').val(),
                "StartDate": $('#StartDate').val(),
                "FinishDate": $('#FinishDate').val(),
                "EventName": $("#EventName").val()
            }),
            success: function(data, textStatus, jQxhr)
            {
                alert("Data Inserted");
                console.log($('#FinishDate').val());
            },
            error: function(xhr, textStatus, error)
            {
                alert("Error");
                console.log(xhr.statusText);
                console.log(textStatus);
                console.log(error);
            }
        });
    }

    function getNextDate(id)
    {
        $.ajax({
            url: '/home/getnextdate/' + id,
            type: 'POST',
            contentType: 'application/json',
            processData: false,
            success: function (data, textStatus, jQxhr) 
            {
                var obj = JSON.parse(data);
                console.log(obj.StartDate);
            },
            error: function (jqXhr, textStatus, errorThrown) 
            {
                console.log(errorThrown);
            } 
        });
    }

    function showCentres() 
    {
        $.ajax({
            url: '/home/getcentres/',
            type: 'GET',
            contentType: 'application/json',
            data: JSON.stringify(json),
            success: function (data, textStatus, jQxhr) 
            {
                for (var i in data){
                    console.log(data[i].CentreID);
                    console.log(data[i].CentreName);
                }
            },
            error: function (jqXhr, textStatus, errorThrown) 
            {
                console.log(errorThrown);
            } 
        });
    }

    function loginFunc()
    {
        var login = JSON.parse(sessionStorage.getItem("login"));
        if (login != null) {
            if (login == false) {
                var username = prompt('Username', '');
                var password = prompt('Password', '');
                console.log(username + " " + password);
                if (username != null && password != null) {
                    validateLogin(username, password);
                }
            } else if (login == true) {
                sessionStorage.setItem("login", false)
                alert("Logged Out");
                $("#loginText").text('Login');
                hideFuntions();
            }
        } else {
            var username = prompt('Username', '');
            var password = prompt('Password', '');
            console.log(username + " " + password);
            if (username != null && password != null) {
                validateLogin(username, password);
            }
        }
        
        
    }

    function validateLogin(username, password)
    { 
        $.ajax({
            type: 'POST',
            url: '/home/login/?username=' + username + '&password=' + password,
            contentType: 'application/json',
            success: function(data, textStatus, jQxhr)
            {
                sessionStorage.setItem("login", true)
                alert("Logged In as " + username);
                $("#loginText").text('Logout');
                hideFuntions();
            },
            error: function(xhr, textStatus, error)
            {
                alert("Invalid Login");
            }
        });
    }

    function hideFuntions() 
    {
        var login = JSON.parse(sessionStorage.getItem("login"));
        if (login == true) {
            var divs = document.getElementsByTagName('div');
            for (var i = divs.length; i--;) {
                var div = divs[i];
                if (div.className === 'admin') {
                    div.style.display = 'block';
                }
            }
        } else {
            var divs = document.getElementsByTagName('div');
            for (var i = divs.length; i--;) {
                var div = divs[i];
                if (div.className === 'admin') {
                    div.style.display = 'none';
                }
            }
        }
    }

    function setLoginText() {
        var login = JSON.parse(sessionStorage.getItem("login"));
        if (login == true) {
            $("#loginText").text('Logout');
        }
    }

    function setLoad() {
        setLoginText();
        hideFuntions();
        showCentres();
    }
</script>